<div class = "subject-material-form">
	<h2>Material</h2>
	<%= render 'link_to_remove_fields', :f => f %>
	<div><%= f.label :name %><%= f.text_field :name %></div>
	<div><%= f.label :link %><%= f.text_field :link %></div>
</div>