<li>
  <h4 class="title"><%= subject.title %></h4>
  <span class="description"><%= subject.description %></span>
  <span class="start_day">From:<%= subject.start_day %></span>
  <span class="end_day">To:<%= subject.end_day %></span>
  <div>
  	閲覧：<%= link_to "http://enokilog.yuzutas0.com/share/#{subject.url}",  "/share/#{subject.url}" %>
  </div>
  <div>
  	変更：<%= link_to "http://enokilog.yuzutas0.com/manage/#{subject.url}", "/manage/#{subject.url}" %>
  </div>
  <div>
  	記録：<%= link_to "http://enokilog.yuzutas0.com/log/#{subject.url}", "/log/#{subject.url}" %>
  </div>
</li>